name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Build
        run: go build -v

      - name: Unit Test
        run: go test -count 1 -v ./...

      - name: Benchmark Test
        working-directory: ./benchmark
        run: go test -count 1 -v -bench=. ./...
